body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    background-color: #808B96;

}

.quem-somos {
    background-color: #AED6F1;
    font-size: 20px;
    
}

.parceiros {
    background-color: #7DCEA0;
    
}
.bitcoin {
    background-color: #F5B041;
}
footer {
    background-color: black;
    padding-bottom: 30px;
}

.margin {
    margin-top: none;
    padding-top: 20px;;
    padding-bottom: 50px;
        
}